@import "../../sass/_mixin.scss";
@import "../../sass/_variables.scss";

.hookah {
  width: 90%;
  height: fit-content;
  margin-top: 100px;
  margin-bottom: 30px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 30px;
  direction: rtl;
  > * {
    margin: 0 auto;
  }
  @include mediaQueryWidth(450px) {
    width: 100%;
  }
  .box {
    width: 80%;
    height: 100px;
    padding: 10px 10px;
    border-radius: 10px;
    border: 2px solid $lightColor;
    background: $secondColor;
    font-size: small;
    @include flex(row, flex-start, center);
    @include mediaQueryWidth(450px) {
      font-size: small;
    }
    img {
      width: 80px;
      height: 80px;
      border-radius: 10px;
      @include mediaQueryWidth(450px) {
        width: 70px;
        height: 70px;
      }
    }
    div{
      margin-right: 10px;
      @include flex(column, flex-start, flex-start);
    }
  }
  @include mediaQueryWidth(1080px) {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 30px;
  }
  @include mediaQueryWidth(770px) {
    grid-template-columns: repeat(1, 1fr);
  }
}
